*.DS_Store*
*cori.yaml
*nilc*
*rho/*
extra/*
.ipynb_checkpoints/
__pycache__/
slurm-*.out
*.sh*
*images/*
masks/*
bispectra/*
*.png
*.pdf
*sbatch*
*.p
*.fits
bispectrum_plots/*
maps/*
*.ipynb
*local*
oliver*
sbatch_script.sh
*~
